.lookup-popup-window-menu-bar * {
    font-family: sans-serif;
    line-height: 1.15 !important;
    -webkit-text-size-adjust: 100% !important;
    font-size: 14px !important;
    color: black !important;
    margin: 0 !important;
    padding: 0 !important;
}

.lookup-popup-window-menu-bar {

    position: fixed !important;
    bottom: 0 !important;
    z-index: 999999999 !important;
    width: 100% !important;
    /* background: #eee !important; */
    height: auto !important;
    display: flex !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    width: 100% !important;
    border: 1px solid #dcdcdc !important;

}



.lookupPopupWindowEmptySpace {
    width: 100% !important;
    height: 100px !important;

}


.lookup-popup-window-menu-bar-toggle {
    -webkit-appearance: button !important;
    font-weight: 900 !important;
    padding: 5px !important;
    border: 0 !important;
    border-right: 1px solid #ccc !important;
}

.lookup-popup-window-menu-bar-toggle:hover {
    color: rgb(73, 73, 73) !important;
    background-color: #ccc !important;
    border-radius: unset !important;
    padding: 5px !important;
}

.lookup-popup-window-menu-bar-toggle:focus {
    /* border: none !important; */
    outline: none !important;
    text-transform: none !important;

}

.lookup-popup-window-menu-bar-collapse {
    padding: 5px !important;
    display: flex !important;
    background: #eee !important;
    flex-grow: 1 !important;
    min-width: 0 !important;
}

.lookup-popup-window-menu-bar-extra {
    display: flex !important;
    flex-grow: 1 !important;
    justify-content: space-between !important;
    margin-right: 25px !important;
}

.lookup-popup-window-menu-bar-extra button {
    -webkit-appearance: button !important;
    font-weight: 900 !important;
    border: 0px !important;
    padding: 5px !important;
}

.lookup-popup-window-menu-bar-extra button:hover {
    color: rgb(73, 73, 73) !important;
    background-color: #ccc !important;
    border-radius: 10px !important;
    padding: 5px !important;
}

.lookup-popup-window-menu-bar-extra button:focus {
    border: none !important;
    outline: none !important;
    text-transform: none !important;

}

.lookup-popup-window-menu-bar-form-container {
    display: flex !important;
    flex-grow: 2 !important;
    justify-content: space-between !important;
}



.lookup-popup-window-menu-bar-form {
    height: 0 !important;
    flex-grow: 2 !important;
    margin: 0 5px 0 0 !important;
    min-width: 0 !important;
}

.lookup-popup-window-menu-bar-input {
    margin: 0 !important;
    box-shadow: none;
    transition: none !important;
    -webkit-appearance: textfield !important;
    outline-offset: -2px !important;
    background: #ffffff !important;
    box-sizing: border-box !important;
    height: 30px !important;
    padding: 5px !important;
    border: 0.5px solid #ccc !important;
    border-radius: 10px !important;
    width: 100% !important;
    width: -moz-available !important;
    width: -webkit-fill-available !important;
    width: fill-available !important;

}

.lookup-popup-window-menu-bar-input::-webkit-search-decoration {
    -webkit-appearance: none !important;
}

.lookup-popup-window-menu-bar-input:focus,
.lookup-popup-window-menu-bar-select:focus {
    box-shadow: none !important;
    outline: unset !important;
    border-color: #5f615f !important;
}

.lookup-popup-window-menu-bar-select {
    box-shadow: none !important;
    transition: none !important;
    text-transform: none !important;
    box-sizing: unset !important;
    /* set width so that select menu doesn't get hidden */
    width: 25% !important;
    height: 30px !important;
    box-sizing: border-box !important;
    flex-grow: 1 !important;
    padding: 0 20px 0px 5px !important;
    border: 0.5px solid #ccc !important;
    border-radius: 10px !important;
    margin: 0 !important;
    appearance: auto !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: transparent !important;
    background: #ffffff !important;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
    background-repeat: no-repeat !important;
    background-position-x: 100% !important;
    background-position-y: 50% !important;
}


@media (max-width: 400px) {


    .lookup-popup-window-menu-bar {
        display: flex !important;
        width: 100% !important;
        /* padding: 5px 2px !important; */

    }

    .lookup-popup-window-menu-bar-collapse {
        display: block !important;
    }

    .lookup-popup-window-menu-bar-extra {
        width: 100% !important;
    }

    .lookup-popup-window-menu-bar-form-container {
        width: 100% !important;
    }

    .lookup-popup-window-menu-bar-form {
        flex-grow: 1 !important;
    }

    .lookup-popup-window-menu-bar-select {
        flex-grow: 1 !important;
    }
}