/* TODO Improve styling of select inputs for firefox */
html,
body {
    line-height: 1;
    font-size: 15px;
    overflow: auto;
    background: #eeeeee;

    min-height: 500px;
    margin-bottom: 50px;
    min-width: 600px;
    font-family: sans-serif;


}

input {
    outline: none;
    border: 2px solid #aba8a8;
}

input:focus {
    border-color: #ccc;
}

.flex-container {
    padding: 0;
    margin: 0;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.column {
    flex: 50%;
    /* the next properties are to truncate the texts */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}


.flash-messages {
    position: fixed;
    left: 40%;
    display: none;
    background: rgb(34, 187, 51);
    padding: 15px;
    border-radius: 5px;
    color: #fff;
}

button {
    background-color: #5d5d5b;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}


button:hover {
    background-color: #434342;
}

button:focus {
    outline: none
}

input[type=text],
input[type=number] {
    background: #ffffff !important;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

select {
    background: #ffffff !important;
    width: 100%;
    padding: 12px 15px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #aba8a8;
    outline: none;
}

select:focus {
    border-color: #ccc;
}


#save-settings {
    position: fixed !important;
    z-index: 100;
    bottom: 28px;
    right: 16px;
}

.main-settings {
    margin: 0 auto;
    max-width: 750px;
}

.main-settings-segment {
    background: #ffffff;
    min-width: 300px;
    border: 1px solid ccc;
    border-radius: 8px;
    padding: 15px;
}

.second-settings-segment {
    border: 1px solid #ccc;
    padding: 15px;


}

.main-settings-segment-header {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

.main-settings-segment-header .expand-icon {
    transition: transform 0.25s cubic-bezier(0.42, 0, 1, 0.4);
}

.main-settings-segment-header.next-sibling-is-hidden .expand-icon {
    transform: rotate(180deg);
}


.second-settings-segment-header {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 12px;
    padding: 5px;
}

#search-engines-settings .search-engine {
    padding: 5px;
    border-bottom: 1px solid #dedede;
}

#search-engines-settings .search-engine:last-child {
    border-bottom: none;
}

#search-engines-settings .search-engine .search-engine-edit-form {
    background: #eeeeee;
    padding: 15px;
}

.search-engine-side-options {
    text-align: right;
}

.search-engine-side-options span {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #5d5d5b;
    font-size: 25px;
    cursor: pointer;
    margin-right: 10px
}

.search-engine-side-options span:hover {
    color: #434342
}

.search-engine-side-options span.search-engine-remove:hover {
    color: red;
}

#top-menu-bar {
    text-align: center;
}

.settings-page-link {
    border: 1px solid #ccc;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    background: #e0e0e0;
    padding: 4px 12px;
    display: inline-block;
    border-radius: 15px;
    color: #786d6d;
    margin-bottom: 12px;
}

.settings-page-link:hover {
    background: #d2d3d3;
}

.settings-page-link:focus {
    outline: none;
}

.website-remove-from-website-access:hover {
    color: red;
}

#enable-disable-website-wise .website-access-website-wrapper {
    padding: 5px;
    border-bottom: 1px solid #dedede;
}

#enable-disable-website-wise .website-access-website-wrapper:last-child {
    border-bottom: none;
}


/* sortableJS */

.sortable-ghost {
    background-color: #eee;
}

.sortable-ghost * {
    pointer-events: none !important;

}

.sortable-chosen {
    font-weight: 900;
}

.sortable-drag {

    cursor: grab !important;
    cursor: -webkit-grabbing;
}

/* Tooltip */



.tooltip-btn {
    cursor: pointer;
    border-bottom: 1px dotted #000;
}

.tooltip {
    background: #5d5d5b;
    color: white;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
}

.tooltip[data-show] {
    display: block;
}

.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

.arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #5d5d5b;
}

.tooltip[data-popper-placement^='top']>.arrow {
    bottom: -4px;
}

.tooltip[data-popper-placement^='bottom']>.arrow {
    top: -4px;
}

.tooltip[data-popper-placement^='left']>.arrow {
    right: -4px;
}

.tooltip[data-popper-placement^='right']>.arrow {
    left: -4px;
}

.hidden {
    display: none !important;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 20px;
}